.is-invalid {
    border-color: red;
}

.invalid-feedback {
    display: block;
    color: red;
}

/* Stiluri pentru formularul validat */
.was-validated .form-control:invalid {
    border-color: red;
}